{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-2 character-card">
                <img class="card-img-top" src="{{ data.imageUrl }}" alt="{{ data.name }}">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4" style="font-weight: bold; color: #0275d8;">{{ data.name }}</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text">
                                <strong>Films:</strong>
                                {{ data.films|join(', ') }}
                            </p>
                            <p class="card-text">
                                <strong>TV Shows:</strong>
                                {{ data.tvShows|join(', ') }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                <strong>Video Games:</strong>
                                {{ data.videoGames|join(', ') }}
                            </p>
                            <p class="card-text">
                                <strong>Park Attractions:</strong>
                                {{ data.parkAttractions|join(', ') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



