{% extends "base.html" %}

{% block content %}
    <h1 class="mb-5 mt-5">Welcome to the Disney Characters App</h1>
    <h2 class="mb-5">Featured Characters</h2>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ url_for('single_character', character_id=4703) }}" class="card-link">
                <div class="card">
                    <img src="https://static.wikia.nocookie.net/disney/images/9/99/Mickey_Mouse_Disney_3.jpeg" class="card-img-top" alt="Mickey Mouse">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mickey Mouse</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('single_character', character_id=1947) }}" class="card-link">
                <div class="card">
                    <img src="https://static.wikia.nocookie.net/disney/images/d/db/Donald_Duck_Iconic.png" class="card-img-top" alt="Donald Duck">
                    <div class="card-body">
                        <h5 class="card-title text-center">Donald Duck</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('single_character', character_id=2755) }}" class="card-link">
                <div class="card">
                    <img src="https://static.wikia.nocookie.net/disney/images/2/27/Goofy_transparent.png" class="card-img-top" alt="Goofy">
                    <div class="card-body">
                        <h5 class="card-title text-center">Goofy</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ url_for('single_character', character_id=5371) }}" class="card-link">
                <div class="card">
                    <img src="https://static.wikia.nocookie.net/disney/images/7/7b/Pluto.PNG" class="card-img-top" alt="Pluto">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pluto</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}









