<!-- 
    This template extends the base.html and represents a welcome page for the Disney Characterverse website.

    The 'content' block includes a welcoming jumbotron message and a section that features selected characters.

    Each character is represented by a card which contains an image, name and a link to their detailed page.
-->

{% extends "base.html" %}

{% block content %}

    <!-- Jumbotron greeting -->
    <div class="jumbotron text-center mt-5">
        <h1 class="display-4">Welcome to the Disney Characterverse!</h1>
        <p class="lead">Explore the magical Disney universe and uncover the movies and park attractions featuring your favorite characters!</p>
    </div>

    <!-- Featured Characters section -->
    <h2 class="mb-5 text-center">Featured Characters</h2>
    
    <!-- Characters grid -->
    <div class="row">
        <!-- Mickey Mouse card -->
        <div class="col-md-3">
            <a href="{{ url_for('single_character', character_id=4703) }}" class="card-link">
                <div class="card character-card-index">
                    <img src="https://static.wikia.nocookie.net/disney/images/9/99/Mickey_Mouse_Disney_3.jpeg" class="card-img-top" alt="Mickey Mouse">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mickey Mouse</h5>
                    </div>
                </div>
            </a>
        </div>
        
        <!-- Donald Duck card -->
        <div class="col-md-3">
            <a href="{{ url_for('single_character', character_id=1947) }}" class="card-link">
                <div class="card character-card-index">
                    <img src="https://static.wikia.nocookie.net/disney/images/d/db/Donald_Duck_Iconic.png" class="card-img-top" alt="Donald Duck">
                    <div class="card-body">
                        <h5 class="card-title text-center">Donald Duck</h5>
                    </div>
                </div>
            </a>
        </div>
        
        <!-- Goofy card -->
        <div class="col-md-3">
            <a href="{{ url_for('single_character', character_id=2755) }}" class="card-link">
                <div class="card character-card-index">
                    <img src="https://static.wikia.nocookie.net/disney/images/2/27/Goofy_transparent.png" class="card-img-top" alt="Goofy">
                    <div class="card-body">
                        <h5 class="card-title text-center">Goofy</h5>
                    </div>
                </div>
            </a>
        </div>
        
        <!-- Pluto card -->
        <div class="col-md-3">
            <a href="{{ url_for('single_character', character_id=5371) }}" class="card-link">
                <div class="card character-card-index">
                    <img src="https://static.wikia.nocookie.net/disney/images/7/7b/Pluto.PNG" class="card-img-top" alt="Pluto">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pluto</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}










