<!-- 
    This template extends the base.html and represents the Home Page of the website.
    
    The 'content' block includes a welcome jumbotron section, a buttons section for registration,
    login, and guest browsing, and a container to display a series of gifs related to Disney 
    characters. 

    The page also includes a JavaScript block which controls the animation of the gifs,
    pausing the animation when the mouse enters the gifs container, and resuming the animation 
    when the mouse leaves the gifs container.
-->

{% extends 'base.html' %}

{% block content %}
    <!-- Jumbotron section welcoming users -->
    <div class="jumbotron text-center mt-4">
        <h1 class="display-4">Welcome to the Disney Characterverse!</h1>
        <p class="lead">Explore the magical Disney universe and uncover the movies and park attractions featuring your favorite characters!</p>
    </div>

    <!-- Buttons for registration, login, and guest browsing -->
    <div class="buttons mt-5 text-center">
        <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg mx-2 mt-2 mt-md-0">Register</a>
        <a href="{{ url_for('login') }}" class="btn btn-secondary btn-lg mx-2 mt-2 mt-md-0">Log In</a>
        <a href="{{ url_for('guest') }}" class="btn btn-outline-primary btn-lg mx-2 mt-2 mt-md-0">Continue as Guest</a>
    </div>


    <!-- Gifs container displaying a series of Disney character gifs -->
    <div class="gifs-container mt-5">
        <div class="gifs-wrapper">
            <div class="gifs-scroll">
                <img src="https://media.giphy.com/media/2LMSyE8Sw5cnC/giphy.gif" alt="Peter Pan">
                <img src="https://media.giphy.com/media/12gy1aGOnShDwI/giphy.gif" alt="Mickey Mouse">
                <img src="https://media.giphy.com/media/CqGm2DE1eX5iE/giphy.gif" alt="Dumbo">
                <img src="https://media.giphy.com/media/YFis3URdQJ6qA/giphy.gif" alt="Snow White">
                <img src="https://media.giphy.com/media/bm5ogvN102mJO/giphy.gif" alt="Pongo and Perdita">
                <img src="https://media.giphy.com/media/x28cIQSn19Tbi/giphy.gif" alt="Lady and the Tramp">
                <img src="https://media.giphy.com/media/ewrUvci1XM8sRLGqm0/giphy.gif" alt="Mickey, Donald, and Goofy">
                <img src="https://media.giphy.com/media/AqgJZvYstAZyw/giphy.gif" alt="Thumper">
            </div>
        </div>
    </div>

    <!-- JavaScript block controlling gif animation -->
    <script>
    const gifsContainer = document.querySelector('.gifs-container');
    const gifsWrapper = document.querySelector('.gifs-wrapper');

    gifsContainer.addEventListener('mouseenter', () => {
        gifsWrapper.style.animationPlayState = 'paused';
    });

    gifsContainer.addEventListener('mouseleave', () => {
        gifsWrapper.style.animationPlayState = 'running';
    });
    </script>
{% endblock %}

